.App {
  text-align: center;
}
.App-header {
  background-color: #9b57aa;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(54, 248, 190);
}
body{
  background-color: #c895d4;
}
.list-group{
  max-width: 612px;
  margin: 0 auto;
}
.list-group-item{
  background-color: #ebc9f3;
}
.form-control{
  min-height: 5vh;
  min-width: 612px;
  max-width: 612px;
  margin: 0 auto;
  background-color: #ebc9f3;
}
form{
  display: inline-block;
}